{% extends "listbuy/base.html" %}
{% block title %} Lista de Compras {% endblock%}
{% block content %}
    <h2>Add novo Item</h2>
    <form method="post" class="form-inline">
        {% csrf_token %}
        {{ form.as_table }}
        <button type="submit" class="btn btn-primary">Adicionar</button>
    </form>
    
    <hr>
    <table class ="table">
        <thead>
            <tr>
                <th>Item</th>
                <th>Quantidade</th>
                <th>Ações</th>
                
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <td>{{item.item}}</td>
                <td>{{item.quantidade}}</td>
                <td> <a href="{% url 'edit_item' item.id %}" class="btn btn-warning btn-sm">Editar</a>
                    <a href="{% url 'delete_item' item.id %}" class="btn btn-danger btn-sm">Apagar</a></td>
            </tr>
            {% empty %}
            <td>Não há itens na lista ainda!</td>
            {% endfor %}
        </tbody>
    </table>
    {% endblock %}